body {
    background-image: url('gymphoto.jpg');
    background-size: cover;
    background-position: center;
    font-family: Stencil Std, fantasy;
    letter-spacing: 1px; 
    margin: 0;
    padding: 0;
}
h1 {
    text-align: center;
    color: #f5f5f5;
}

.generator {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.info-box{
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px,
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.generate {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px,
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.generate h3 {
    margin-top: 0;
}

.generate form {
    display: flex;
    flex-direction: column;
}

.generate label {
    margin-bottom: 5px;
}

.generate input[type="text"]{
    padding: 8px;
    margin-bottom: 25px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
#gender{
    padding: 8px;
    margin-bottom: 25px;
    border-radius: 5px;
    border: 1px solid #ccc;

}
#muscle-group{
    padding: 8px;
    margin-bottom: 25px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.generate-button {
    text-align: center;
}

.result {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px,
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
    
}

.result h3 {
    margin-top: 0;
}

.result h4 {
    margin-top: 0;
}

.result p {
    margin-bottom: 0;
}
#generate-btn {
    background-color: rgb(0, 0, 0);
    padding: 18px;
    border-radius: 5px;
    color: white;
    border: none;
    cursor: pointer;
    font-family: Stencil Std, fantasy;
    letter-spacing: 1px; 
    font-size: 16px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
